# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.venv/
venv/

# Environments
rf_env/

# Env files
.env

# Data & outputs
/data/
/outputs/

# Notebooks checkpoints
.ipynb_checkpoints/

# OS
.DS_Store
